{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow">
        <div class="row">
            <!-- Миниатюры -->
            <div class="col-md-4">
                {% if track.image %}
                <img src="{{ track.image.url }}" class="img-thumbnail" data-bs-toggle="modal"
                     data-bs-target="#imageModal1" alt="{{ track.title }}">
                {% else %}
                <img src="{% static 'deps/images/Not image.jpg' %}" class="img-thumbnail" data-bs-toggle="modal"
                     data-bs-target="#imageModal1" alt="...">
                {% endif %}


            </div>
            <div class="col-md-4 ">
                <!--                <p class="product_id mt-3">id: 002654</p>-->
            </div>
            <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal1" tabindex="-1"
                 aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">{{ track.title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            {% if track.image %}
                            <img src="{{ track.image.url }}" class="img-fluid" alt="{{ track.title }}">
                            {% else %}
                            <img src="{% static 'deps/images/Not image.jpg' %}" class="img-fluid" alt="Изображение 1">
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Описание товара -->
        <div class="card-body">

            <h5 class="card-title">{{ track.title }}</h5>
            <!--            <p class="card-text">{{ track.artist }}</p>-->
            <p class="card-text">Рейтинг: <strong>{{ track.rating }}</strong></p>
            <a href="{% url 'playlist:playlist_add' track.slug %}" class="btn btn-dark add-to-cart">Добавить в плейлист</a>
        </div>
    </div>
</div>
{% endblock %}