{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
{% endblock %}


{% block content %}

<h2 class="mt-5 pt-5"><strong>{{ content }}</strong></h2>
<p>{{ text_on_page }}</p>
<p>Представляем Вам инновационный музыкальный стриминговый сервис, который делает поиск и прослушивание любимых
    песен невероятно простым и удобным.</p>
<p>С помощью Music Information System (MIS) вы можете:</p>
<ul>
    <li>Находить любую песню в любое время: Наш мощный поисковой движок позволяет мгновенно находить нужные треки,
        исполнителей и альбомы.
    </li>

    <li>Открывать новые жанры и исполнителей: Наши рекомендации помогут вам открывать для себя новую музыку, основанную
        на ваших предпочтениях.
    </li>
</ul>
<p>Мы стремимся сделать ваш музыкальный опыт максимально приятным и незабываемым. Наша команда постоянно работает над
    улучшением сервиса, добавляя новые функции и расширяя библиотеку треков.</p>
<p>Присоединяйтесь к MIS сегодня и окунитесь в мир музыки без границ!</p>

{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Course project on databases : Music Information System 2024</p>
    </div>
</footer>
{% endblock %}


